.Button {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #00277d !important;
}

.Button:active {
    background-color: #00277d !important;
}

.Button:focus {
    background-color: #00277d;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: #00277d;
    color: #ffffff;
}

.BlueOutline,
.Blue:hover {
    background-color: lightgray;
    border-color: #00277d;
    color: #00277d;
}

.Bright {
    background-color: #06a1c2;
    color: #000000;
}  