.Owner {
    font-weight: bold;
    color: #00277d;
    margin-right: 8px;
}

.Date {
    color: #74747b;
}

.LikeIcon {
    font-size: 20px;
}

.Like {
    font-size: 20px;
    color: red;
}

.Like:hover {
    color: #00277d;
}

.LikeOutline {
    font-size: 20px;
}

.LikeOutline:hover {
    color: red;
}
