.Form {
    border: none;
    border-bottom: 2px #b95b24 solid;
}

.Button {
    background-color: #000f36;
    border: 1px solid #000f36;
    color: #ffffff;
    font-weight: bold;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    border: 1px solid #000f36;
    background-color: rgb(213, 213, 213);
    font-weight: bold;
    color: #000f36 ;
}