.NavBar {
    background-color: #ffffff;
    border-bottom: 2px solid rgb(103, 103, 193);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #00277d;
}