.Post {
    background-color: #ffffff;
    border: 1px solid #b95b24;
    box-shadow: 0 2px 4px 0 rgba(16, 15, 5, 0.5);
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: red;
}

.Heart:hover {
    color: #00277d;
}

.HeartOutline:hover {
    color: red;
}